<div class="container flex ">
	<div class="w-1/5 h-screen mt-20 ">
		<ul class="flex flex-col justify-center pt-10 pl-10 text-xl ">
			<li class="mb-10"><a href="/admin">Add User</a></li>
			<li class="mb-10"><a href="/deleteUser">Delete User</a></li>
			<li class="mb-5"><a href="/updateUser">Update User</a></li>
		</ul>
	</div>
	<div class="w-4/5 pt-20 pl-20">
		<form class="px-4 py-3 rounded-full flex justify-center flex-col ">
			<p class="text-xl mb-5">Delete User</p>
			<input
				class="p-10 bg-gray-300
                placeholder-opacity-70
                placeholder-gray-900
                rounded-2xl"
				type="text"
				placeholder="User ID"
			/>
			<br />
			<input
				class="p-10 bg-gray-300
                placeholder-gray-900
                 placeholder-opacity-70
                 rounded-2xl"
				type="text"
				placeholder="User Name"
			/>
			<br />

			<button type="submit" class="bg-sky-500 px-15 py-5 rounded w-40">Delete User</button>
		</form>
	</div>
</div>
